body{
  color: white;
}

hr{
  margin: 20px 0px;
}

.playlist li{
    list-style:none;
    margin: 0 2px 2px 0;
    background-color: #363636;
}
.playlist li.sm2_playing{
  background-image: url(https://btp4.s3.amazonaws.com/images/header-bg.png);
  color: black;
}
.playlist li.sm2_playing a{
  color: black;
  
}
.playlist li:hover{
  background-color: #606060;
}

.playlist li a {
  display: block;
  padding: 4px;
}
.playlist li > div{
  padding: 4px;
}