<style>
body{
  color: white;
}
hr{
  margin: 20px 0px;
}
</style>

<div class="article">
 <div class="section container_12">
   <h1>Meet the band</h1>
   <p></p>
   <hr />
   
   <div class="grid_2">
    <img src="assets/images/band/orta.jpg" alt = "orta therox of Kieronononon">
   </div>
   <div class="grid_2">
     <h3>orta therox</h3>
     <div id="band_orta" ><p><strong>Powers</strong>: Vocals, keyboard and guitar hero Controller, laptops, fire extinguisher, misc toys.</p>

     <p><strong>What we say</strong>: orta is a loud northern monkey who makes noises with whatever he can get his hands on. orta's favourite things include beans and bread, hair-butter and carrots.</p>
     </div>
   </div>

   <div class="grid_2">
    <img src="assets/images/band/px.jpg" alt = "floatstarpx of Kieronononon">
   </div>
   <div class="grid_2">
     <h3>(float*)(p->x)</h3>
     <div id="band_px" ><p><strong>Powers</strong>: Bass, drum pads, vocals.</p>

     <p><strong>What we say</strong>: PX is responsible for both the "low-end" of Kieronononon's sound and the "no end" of dubious one-liner style jokes. He also does the cheesy 90s-style video editing for all of our many many videos.</p>
     </div>
   </div>
   
   <div class="grid_2">
    <img src="assets/images/band/goat.jpg" alt = "goat boy of Kieronononon">
   </div>
   <div class="grid_2">
     <h3>Goat Buoy</h3>
     <div id="band_goat" ><p><strong>Powers</strong>: Guitar and a million pedals, vocals.</p>

     <p><strong>What we say</strong>: Ooohh yeah sexy Goaty beast - but watch out, he may deliver you an epic insult. Goatboy switches guitars often, because he is so manly. Only a manly man could switch guitar as often as Goatboy.</p>
     </div>
   </div>

   <div class="grid_12" style="margin:32px 10px">
    <center>
      <img  src="assets/images/band/klogo-shiny.jpg" alt="Kierononon Logo" />
    </center>
   </div>

   <div class="grid_4">
    <div  id="band_column1" >
      <h2> 	What&#39;s all this then?</h2> 
      <p>Kierononon are a 3-piece brutaltechnopunk outfit, with goatboy on guitars, floatstarpx on bass/drum programming, and orta keyboard/decks/toys. We operate a three-pronged vocal assault, and we do not have a drummer. We formed in 2006 when we were drunk at a party. It was cool anyway, we drew loads of pictures of logos for the band.</p> 
      <p>In the time between then and now, we have recorded 4 EPs and now a full length album, and we&#39;ve done a whole bunch of gigs. We still come up with our best ideas when we&#39;re drunk at parties. Our new album is awesome. It&#39;s called &quot;There&#39;s this Dragon&quot;, and you can hear it on our website here.</p> 
    </div>
  </div>
   
   <div class="grid_4">
     <div class="e-ease ee:wwig" id="band_column2" >
       <h2>There&#39;s this Dragon</h2> 
       <p>&quot;There&#39;s this Dragon&quot; is our first full-length album! It&#39;s got 10 tracks.</p> 
       <p>Written, recorded and conceptualised by Kieronononon. Mixed and mastered by the awesome Ben Rafferty!</p>
       </div>
   </div>
   <div class="grid_4">
     <div class="e-ease ee:wwig" id="band_column3" >
      <h2> 	Booking</h2> 
      <p>We&#39;re currently booking for October (and beyond) 2010.. So give us an e-mail if you want us to play in your town! E-mail us at roxxor2mail@gmail.com and we&#39;ll do our best. We&#39;ll even play in your house for 2 beers or some potato waffles.</p> 
     </div>
    
   </div>
   
</div>