<style type="text/css" media="screen">
  h1{
    font-size: 4em;
    color:white;
  }
</style>

<center>
  <p>
    <img src="/assets/images/thanks.jpg" alt="Thanks">
  </p>
  <h1 >Haha tricked you</h1> 
  <h1 >.. kinda</h1>
  <h1 ><a href="/music">All our music is free now!</a></h1>
</center>