<link rel="stylesheet" href="assets/stylesheets/index.css" type="text/css" media="screen" title="no title" >
<link rel="stylesheet" href="assets/javascripts/shadowbox/shadowbox.css" type="text/css" media="screen" title="no title" >
<link rel="stylesheet" href="/assets/stylesheets/soundmanager.css">
<style type="text/css" media="screen">
  #home{
    -moz-box-shadow: inset 0 5px 1em #793F08;
    -webkit-box-shadow: inset 0 5px 1em #793F08;
  }
</style>
<center>
  <div class="section" id="headline">
    <a href="/music">
    <div id="banner">
      <% i = 0 %>
      <% @slideshow.shuffle.each do |banner| %>
        <img src="<%= banner %>" width="1040" height="500" alt="Banner1" <%= i > 0 ? "style='display:none'" : ""%> >
        <% i = i + 1 %>
        <% if (i == 5) then break end %>
      <% end %>
    </div> 
    </a>
  </div>
</div>
</center>

  <div class="section container_12" id="page-content">

    <div class=" grid_6 content-cd">
      <a href='music'>
        <img src="https://btp4.s3.amazonaws.com/images/dragon-cd.jpeg" id="case" alt="Jewel Ituneslp">
        <img src="https://btp4.s3.amazonaws.com/images/cd.jpg" id="CD"  alt="Cd">
        <h3>Click to download our free iTunes EP or Music</h3>
      </a>
    </div>

    <div class="article grid_6">
      <h1>It's those Kieronononon guys</h1>
      <p>Kierononon are a 3-piece  brutaltechnopunk outfit, with goatboy on guitars, floatstarpx on bass/drum programming, and orta keyboard/decks/toys. We operate a three-pronged vocal assault, and we do not have a drummer. We formed in 2006 when we were drunk at a party. It was cool anyway, we drew loads of pictures of logos for the band.</p> 
      <p> In the time between then and now, we have recorded 4 EPs and now a full length album, and we&#39;ve done a whole bunch of gigs. We still come up with our best ideas when we&#39;re drunk at parties. Our new album is awesome. It&#39;s called &quot;There&#39;s this Dragon&quot;, and you can hear it on our website here.</p> 
      <p>We&#39;re currently booking gigs and events</p>

        <div class=" alpha grid_2 player">
          <a href="https://btp4.s3.amazonaws.com/mp3s/dragon/02 March Of The Bugs.mp3" class="sm2_button" title="play March of the Bugs" >March of the Bugs</a>
        </div>
        <div class="grid_2 player">
          <a href="https://btp4.s3.amazonaws.com/mp3s/fox.mp3" class="sm2_button" >Fox To The Hounds</a>
        </div>
        <div class=" omega grid_2 player">
          <a href="https://btp4.s3.amazonaws.com/mp3s/dragon/robot.mp3" class="sm2_button" href="#">Do the Robot</a>
        </div>

      </div>
      <div class="clear" style="height:26px"></div>
      <hr>
      <div class="clear"></div>
      <div class="grid_4 read">
     <img src = "https://btp4.s3.amazonaws.com/komm/thumbs/issue_<%= @latest_komm %>.jpeg" id="current_issue" alt="current kierononon kommunique issue">
      <h3>Kierononon Kommunique</h3>
    </div>

    <div class=" article grid_4 watch">
      <a rel="" title="Kieronononon - March of the Bugs" href="/video"> <img src="https://btp4.s3.amazonaws.com/images/youtube.jpg"  alt="Youtube"></a>

      <h3>Watch our vids</h3>
    </div>

    <div class="article grid_4 hole">
      <img id = "khole" src="https://btp4.s3.amazonaws.com/images/kholed.png" alt="Kholed">

      <div id="khole_banner">
        <img src="https://btp4.s3.amazonaws.com/images/kholed1.jpg" alt="Kholed1">
        <img src="https://btp4.s3.amazonaws.com/images/kholed2.jpg" style="display:none" alt="Kholed2">
        <img src="https://btp4.s3.amazonaws.com/imagesb/kholed3.jpg" style="display:none" alt="Kholed3">
      </div>
      <div class="clear"></div>
      <h3>Got Kholed lately?</h3>
    </div>

</div>

<!-- this has to be in -->
<div id="control-template">
 <!-- control markup inserted dynamically after each link -->
 <div class="controls">
  <div class="statusbar">
   <div class="loading"></div>
    <div class="position"></div>
  </div>
 </div>
 <div class="timing">
  <div id="sm2_timing" class="timing-data">
   <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
 </div>
 <div class="peak">
  <div class="peak-box"><span class="l"></span><span class="r"></span>
  </div>
 </div>
</div>
<div id="spectrum-container" class="spectrum-container">
 <div class="spectrum-box">
  <div class="spectrum"></div>
 </div>
</div> 

 
<script>
$(document).ready(function() {

  $('#banner').cycle({
    delay:  1000, 
    speed:  1000
  });

  $(".logo").addClass("done");

  Shadowbox.init({
    // a darker overlay looks better on this particular site
    overlayOpacity: 0.8
  });

  $("#khole_banner").cycle({
    speed:  20
  });  



  // $(".content-cd").click(function(i){
  //   $.get('ajax/music', function(data) {
  //     Shadowbox.open({
  //       content:    data,
  //       player:     "html",
  //       title:      "Kierononononon Music",
  //       height:     550,
  //       width:      880
  //     });
  //   });
  // });

  $(".hole").click(function(i){
    window.location.href = "music"
  });

  $(".read").click(function(i){
    window.location.href = "kommunique"
  });
  
  $(".watch").click(function(i){
    window.location.href = "video"
  });
  
})

</script>

<script src="assets/javascripts/jquery.cycle.lite.min.js"></script>
<script src="assets/javascripts/shadowbox/shadowbox.js" type="text/javascript" charset="utf-8"></script>

<script src="/assets/javascripts/soundmanager2.js"></script>
<script src="/assets/javascripts/page-player.js"></script>

<script type="text/javascript" charset="utf-8">
soundManager.url = 'assets/javascripts/';
</script>
