<style type="text/css" media="screen">
  body{
    background: url(https://btp4.s3.amazonaws.com/images/komplaints.jpg) center 0px  no-repeat;
  }
  .sub, .footer {
    display: none;
  }
  center{
    margin-top: 300px;
  }
</style> 

<center>   
  <form action="/email" method="get" accept-charset="utf-8">
    <img src="https://btp4.s3.amazonaws.com/images/name_email.png"><br/>
    
    <img src="https://btp4.s3.amazonaws.com/images/komplaint_paper.png">  <br/>  
    <input type="submit" value="submit">
  </form>

</center>