<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd"> 
 
<!-- I &heart; HTML 5 --> 
<html lang="en"> 
<head> 
  <title>Kieronononon</title> 
  <meta charset="UTF-8" /> 
 
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 
 
  <link rel="stylesheet" href="assets/stylesheets/reset.css" type="text/css" media="screen" title="no title" > 
  <link rel="stylesheet" href="assets/stylesheets/960.css" type="text/css" media="screen" title="no title" > 
    <link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css" media="screen" title="no title" > 
  <link rel="stylesheet" href="assets/stylesheets/text.css" type="text/css" media="screen" title="no title"> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='assets/javascripts/jquery-1.5.1.js'>\x3C/script>")</script>

  
  <noscript> 
    <!-- See how caring we are? -->
    <style type="text/css" media="screen">
      #social{
        display: none;
      }
      #khole-nav{
        border-right: none;
      }
      nav > ul{
        width: 610px;
      }
      #comment-box{
       display: none; 
      }
      header .logo {
        top: -40px;
        left: -30px;
        -webkit-transform: scale(0.7) rotate(340deg);
        -moz-transform: scale(0.7) rotate(340deg);
      }
      
    </style>
    </noscript> 
<!--[if IE]>
  <style type="text/css" media="screen">
    #nav > ul > li a{
    font-size: 22px;
    }
  </style>
<![endif]--> 
  
</head> 
<body class= ""> 
  <div id="site-container"> 
    
    <div class="header" id="site-header"> 
      <div class="container_12"> 
        <div class="logo"> 
            <!--[if !IE]><!--><img src="assets/images/logo.png" width="223" height="247" alt="Kierononononon Logo"> 
            <!-- <![endif]--> 
            <!--[if IE]><a href="index"><img src="assets/images/logo-rotated.png" width="223" height="247" alt="Kierononononon Logo"></a>
              <![endif]--> 
        </div> 
        <ul class="nav main"> 
          <li><a href="/">HOME</a></li> 
          <li><a href="/music">MUSIC</a></li> 
          <li><a href="/kommunique">READ</a></li> 
          <li><a href="/band">BAND</a></li> 
          <li><a href="/media">MEDIA</a></li> 
          <!-- <li><a href="pics">PICS</a></li>  --> 
          <li><a  id="khole-nav" href="/khole">KHOLED</a></li> 
        </ul> 
        
        <ul class="nav"> 
          <li><a href="http://open.spotify.com/artist/41HLw5Fqni5ZiRy7Wx8Ume">Spotify</a></li> 
          <li><a href="http://kieronononon.bandcamp.com/">Bandcamp</a></li> 
            <li><a href="http://www.facebook.com/pages/Kieronononon/20529761624">Facebook</a></li> 
            <li><a href="http://www.myspace.com/kieronononon">Myspace</a></li> 
            <li><a href="http://www.youtube.com/results?search_query=kieronononon&search_type=&aq=f">Youtube</a></li> 
            <li><a href="http://www.last.fm/music/Kieronononon">Last.fm</a></li> 
           <li><a href="http://lyrics.wikia.com/Kieronononon">Lyrics</a></li> 
           <li><a href="http://twitter.com/kieronononon">Twitter</a></li>           
        </ul> 
      </div> 
    </div> 
    <%= yield %>
    <script>
      $(document).ready(function() {
        $(".logo").addClass("done");
      });
    </script>
    </div>
  <div/>
</body> 
</html>