
 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd"> 
 
<!-- I &heart; HTML 5 --> 
<html lang="en"> 
<head> 
  <title>Kieronononon</title> 
  <meta charset="UTF-8" /> 
 
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 
 
  <link rel="stylesheet" href="assets/stylesheets/reset.css" type="text/css" media="screen" title="no title" > 
  <link rel="stylesheet" href="assets/stylesheets/960.css" type="text/css" media="screen" title="no title" > 
    <link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css" media="screen" title="no title" > 
  <link rel="stylesheet" href="assets/stylesheets/text.css" type="text/css" media="screen" title="no title"> 
  <base href="http://brutaltechnopunk.com/" /> 
  
  <noscript> 
    <!-- See how caring we are? -->
    <style type="text/css" media="screen">
      #social{
        display: none;
      }
      #khole-nav{
        border-right: none;
      }
      nav > ul{
        width: 610px;
      }
      #comment-box{
       display: none; 
      }
      header .logo {
        top: -40px;
        left: -30px;
        -webkit-transform: scale(0.7) rotate(340deg);
        -moz-transform: scale(0.7) rotate(340deg);
      }
      
    </style>
    </noscript> 
<!--[if IE]>
  <style type="text/css" media="screen">
    #nav > ul > li a{
    font-size: 22px;
    }
  </style>
<![endif]--> 
  
</head> 
<body class= ""> 
  <div id="site-container"> 
    
    <div class="header" id="site-header"> 
      <div class="container_12"> 
        <div class="logo"> 
            <!--[if !IE]><!--><img src="assets/images/logo.png" width="223" height="247" alt="Kierononononon Logo"> 
            <!-- <![endif]--> 
            <!--[if IE]><a href="index"><img src="assets/images/logo-rotated.png" width="223" height="247" alt="Kierononononon Logo"></a>
              <![endif]--> 
        </div> 
        <div id="nav"> 
          <ul> 
            <li><a href="index">HOME</a></li> 
            <li><a href="music">MUSIC</a></li> 
            <li><a href="kommunique">READ</a></li> 
            <li><a href="band">BAND</a></li> 
            <li><a href="media">MEDIA</a></li> 
            <!-- <li><a href="pics">PICS</a></li>  --> 
            <li><a  id="khole-nav" href="khole">KHOLED</a></li> 
            
            <li><a id="social" >MESSAGE</a> 
              <ul> 
                <div class="clear"></div> 
                <form action="php/messages.php" method="get" accept-charset="utf-8"> 
                  <label for="message">Your favourite brutaltechnopunkists need people to leave us messages so fill this out and sign in with facebook! (especially chicks)</label> 
                                  
                 <textarea placeholder="oh Kierononon, you so cool - orta" id="message" name="message" value="" id="message" rows="14" cols="40"></textarea> 
                 <input type="hidden" name="facebook_id" value="283900865"> 
                      
                                  <div class="clear"></div> 
                  <div style="height: 40px; margin-top:6px;"> 
                    <div class="division"> 
                      <input type="submit" id="logged_in_submit" value="Send That Message! Yeah!"> 
                    </div> 
                  
                    <div class="division"> 
                    <fb:profile-pic uid="loggedinuser" size="square" facebook-logo="true"></fb:profile-pic> <a id="fb_logout" href="#" onclick="FB.Connect.logout(function() { window.location.reload(true); }); return false;" >Log out</a> 
                    </div> 
                    <div class="clear"></div> 
                  </div>                  
                                
                </form>                
              </ul> 
            </li> 
            
          </ul> 
        </div> 
        <div class="clear"></div> 
        <ul id="subnav"> 
          <li><a href="http://open.spotify.com/artist/41HLw5Fqni5ZiRy7Wx8Ume">Spotify</a></li> 
          <li><a href="http://kieronononon.bandcamp.com/">Bandcamp</a></li> 
            <li><a href="http://www.facebook.com/pages/Kieronononon/20529761624">Facebook</a></li> 
            <li><a href="http://www.myspace.com/kieronononon">Myspace</a></li> 
            <li><a href="http://www.youtube.com/results?search_query=kieronononon&search_type=&aq=f">Youtube</a></li> 
            <li><a href="http://www.last.fm/music/Kieronononon">Last.fm</a></li> 
           <li><a href="http://lyrics.wikia.com/Kieronononon">Lyrics</a></li> 
           <li><a href="http://twitter.com/kieronononon">Twitter</a></li> 
           
            <!-- <li><a href="javascript:location.href='http://del.icio.us/post?v=2&url='+encodeURIComponent(document.location.href)+'&title='+encodeURIComponent(document.title)+' '">del.icio.us</a></li> --> 
          
        </ul> 
      </div> 
    </div> 
    <% yield %>
         <center><h4><div id="adminlogin">&nbsp;</div> <span style="color:white">(user = admin, pass = normal)<br/><a href="admin">messageadmin</a> <a href="stats">stats</a></span></h4></center> 
    
    <div class="clear"></div> 
    <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.4.1.min.js"></script> 
<link rel="stylesheet" href="assets/stylesheets/index.css" type="text/css" media="screen" title="no title" > 
 
<link rel="stylesheet" href="assets/javascripts/shadowbox/shadowbox.css" type="text/css" media="screen" title="no title" > 
 
<center> 
  <div class="section" id="headline"> 
    <div id="banner"> 
                <img src="assets/images/banner/banner6.jpg" width="1040" height="500" alt="Banner1">          <img src="assets/images/banner/banner2.jpg" width="1040" height="500" alt="Banner1" style='display:none'>          <img src="assets/images/banner/banner1.jpg" width="1040" height="500" alt="Banner1" style='display:none'>          <img src="assets/images/banner/banner2.jpg" width="1040" height="500" alt="Banner1" style='display:none'>  </div> 
</div> 
</center> 
 
<div class="section" id="site-page" class="container_12"> 
  <!-- comments go in playground for facebook setup, then moved in to commentbox, prevents unstyled content coming through --> 
  <div class="article" id= "comment-box-playground" style="display:none">&nbsp;</div> 
  <div class="article" id= "comment-box">        
 
    <div style="left:700px" class="comment alt kierononon"> 
      <img src="assets/images/guyorange.png" alt="" /> 
      <p style="display:none;">Leave us a comment by clicking on <STRONG>SOCIAL</STRONG> above - Kierononon <img src="http://www.gravatar.com/avatar/f116cb3be23153ec08b94e8bd4dbcfeb.png" class="gravatar"></p> 
    </div> 
  </div> 
 
 
  <div class="clear"></div> 
  
  <div class="section container_12" id="page-content"> 
 
    <div class=" grid_6 content-cd"> 
      <img src="assets/images/dragon-cd.jpeg" id="case" alt="Jewel Ituneslp"> 
      <img src="assets/images/cd.jpg" id="CD"  alt="Cd"> 
      <h3>Click to download our free iTunes EP or Music</h3> 
    </div> 
 
    <div class="article grid_6"> 
      <h1 class="e-ease " id="home_heading" >It's Kieronononon!</h1> 
      <p class="e-ease ee:wwig" id="home_heading_body" ><p> 	<span style="color:#fff;"><span class="Apple-style-span" style="font-family: arial, helvetica, sans-serif; font-size: small; white-space: pre-wrap; "><span x="y">Kierononon are a 3-piece </span><span x="y">brutaltechnopunk</span><span x="y"> outfit, with goatboy on guitars, </span><span x="y">floatstarpx</span><span x="y"> on bass/drum programming, and </span><span x="y">orta</span><span x="y"> keyboard/decks/toys. We operate a three-pronged vocal assault, and we do not have a drummer. We formed in 2006 when we were drunk at a party. It was cool anyway, we drew loads of pictures of logos for the band.</span></span></span></p> <p> 	<span style="color:#fff;"><span class="Apple-style-span" style="font-family: arial, sans-serif; font-size: small; white-space: pre-wrap; "><span style="font-family:arial, helvetica, sans-serif;"><span x="y">In the time between then and now, we have recorded 4 EPs and now a full length album, and we&#39;ve done a whole bunch of gigs. We still come up with our best ideas when we&#39;re drunk at parties. Our new album is awesome. It&#39;s called &quot;There&#39;s this Dragon&quot;, and you can hear it on our website here.</span></span></span></span></p> <p> 	<span style="color:#fff;">We&#39;re currently booking dates for August 2010 and onwards!</span></p> </p> 
      <p> 
 
        <div class=" alpha grid_2 player"> 
          <a href="mp3s/02 March Of The Bugs.mp3" class="sm2_button" title="play March of the Bugs" >March of the Bugs</a> 
        </div> 
        <div class="grid_2 player"> 
          <a href="mp3s/05 No Chicks, No Beer.mp3" class="sm2_button" >No Chicks, No Beers</a> 
        </div> 
        <div class=" omega grid_2 player"> 
          <a href="mp3s/06 Megaman 9.mp3" class="sm2_button" href="#">Megaman 9</a> 
        </div> 
 
      </div> 
      <div class="clear" style="height:26px"></div> 
      <hr> 
      <div class="clear"></div> 
      <div class="grid_4 read"> 
        <img src = "komm/thumbs/issue_10.jpeg" id="current_issue" alt="current kierononon kommunique issue">      <h3>Kierononon Kommunique</h3> 
    </div> 
 
    <div class=" article grid_4 watch"> 
      <a rel="shadowbox;width=853;height=505;player=swf" title="Kieronononon - March of the Bugs" href="http://www.youtube.com/v/ZiBqaZb09to&hl=en&fs=1&rel=0&autoplay=1&amp;hl=en&amp;fs=1&amp;rel=0&amp;autoplay=1&amp;fmt=22"> <img src="assets/images/youtube.jpg"  alt="Youtube"></a> 
 
      <h3>Watch our vids</h3> 
    </div> 
 
    <div class="article grid_4 hole"> 
      <img id = "khole" src="assets/images/kholed.png" alt="Kholed"> 
 
      <div id="khole_banner"> 
        <img src="assets/images/kholed1.jpg" alt="Kholed1"> 
        <img src="assets/images/kholed2.jpg" style="display:none" alt="Kholed2"> 
        <img src="assets/images/kholed3.jpg" style="display:none" alt="Kholed3"> 
      </div> 
      <div class="clear"></div> 
      <h3>Got Kholed lately?</h3> 
    </div> 
 
    <hr /> 
 
    <div class=" article grid_4 info" id="gigs"> 
      <h2>Upcoming Gigs</h2> 
      <div id="lastfm"> 
        &nbsp;
      </div> 
    </div> 
    <div class=" article grid_4 info" id="twitter"> 
      <h2>Twitter</h2> 
      <div id="tweets"> 
 
      </div> 
 
    </div> 
    <div class=" article grid_4 info"> 
      <h2>Contact</h2> 
      <ul> 
        <li>Enquiries - <a href="mailto:band@technopunk.me?subject=Query">band@technopunk.me</a></li> 
        <li>Site / Design - <a href="mailto:orta@technopunk.me">orta@technopunk.me</a></li> 
        <li><a href="http://roxxor2.co.uk"><img src="assets/images/luv_roxxor.png" alt="roxXOR2 logo" id="roxxor"/> 
        </a></li> 
      </ul> 
 
    </div> 
    <div class="clear"></div> 
  </div> 
</div> 
 
<script> 
$(document).ready(function() {
 
  $('#banner').cycle({
    delay:  1000, 
    speed:  1000
  });
 
  $(".logo").addClass("done");
 
  Shadowbox.init({
    // a darker overlay looks better on this particular site
    overlayOpacity: 0.8
  });
 
  $("#khole_banner").cycle({
    speed:  20
  });  
 
 
 
  $(".content-cd").click(function(i){
    $.get('ajax/music.php', function(data) {
      Shadowbox.open({
        content:    data,
        player:     "html",
        title:      "Kierononononon Music",
        height:     550,
        width:      880
      });
    });
  });
 
  $(".hole").click(function(i){
    window.location.href = "khole"
  });
 
  $(".read").click(function(i){
    window.location.href = "kommunique"
  });
 
  if(window.location.hash == "thanks"){
 
  }
  moveLittleMen();
  getMessages();
})
 
 
function getMessages(){
 
  $.get('php/messages.php', function(data) {
    $("#comment-box-playground").append(data);
    if(FB.XFBML) FB.XFBML.Host.parseDomElement(document.getElementById("comment-box-playground"));
    $('#comment-box').append($('#comment-box-playground .comment').remove()); 
 
  });
  setTimeout( getMessages , 10000);
 
}
 
 
function moveLittleMen(){
  $(".comment").each(function(i){
    var man = $(this);
    if(man.attr("pause") > 0){
      var pause = man.attr("pause") * 1;
      if(pause == 10) {
        $(this).css("width", "310px");
        $(".comment-bubble" ,this).fadeIn(); 
      }
      if(pause == 1) {
 
        $(".comment-bubble" ,this).hide(); 
        $(this).css("width", "30px");
      }
      man.attr("pause", pause - 1 );
 
    }else{  
      var rand = Math.floor(Math.random()*8);
      if(rand == 2){
        if(man.attr("hasmoved") != "true"){
          man.attr("pause", "10");    
          man.attr("hasmoved", "true");    
        }
      }
 
      var x = parseInt(man.css("left"))   ;
      if(x < -310 || x > 1000){
        man.remove();
      }
 
      var dist = Math.floor(Math.random()*60) + 20;
      if( man.hasClass("alt")){
        man.animate({"left": "-="+ dist +"px"}, 800 ,"swing");
      }else{
        man.animate({"left": "+="+ dist +"px"}, 800, "swing");
      }
    }
  })
  setTimeout( moveLittleMen ,800);
}
 
 
</script> 
 
<script src="assets/javascripts/jquery.cycle.lite.min.js"></script> 
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfhcL9onk1IwFcC4_Gg8y8BShhZBixF0XVSHkifztW3HT4Lh_chTxSkyhhyLDbWZIKal8vo-EDqgudw"></script> 
 
<script src="assets/javascripts/shadowbox/shadowbox.js" type="text/javascript" charset="utf-8"></script> 
<script type="text/javascript" src="assets/javascripts/soundmanager2-nodebug-jsmin.js"></script> 
<script type="text/javascript" src="assets/javascripts/inlineplayer.js"></script> 
<script> 
google.load("feeds", "1");
soundManager.url = 'assets/javascripts/';
 
function initialize() {
 
  var feed = new google.feeds.Feed("http://ws.audioscrobbler.com/1.0/artist/Kieronononon/events.rss");
  feed.load(function(result) {
    if (!result.error) {
      if(result.feed.entries.length){
        var results = "<ul>";
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          
          results += "<li><i>" + entry.content.split("\n")[0] + "</i><br/><a href='" + entry.link + "'>" + entry.title + "</a> </li>";
        } 
        $("#lastfm").html( results + "</ul>");
      }else{
        $("#lastfm").html("<p>No Gigs planned at the minute.</p>");          
      }
    }
  });
 
  var feed = new google.feeds.Feed("http://twitter.com/statuses/user_timeline/34881351.rss");
 
  feed.load(function(result) {
    if (!result.error) {
      if(result.feed.entries.length){
        var results = "<ul>";
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          results += "<li>" + entry.title + "</li>";
        } 
        $("#tweets").html( results + "</ul>");
      }else{
        $("#tweets").html("<p>No Tweets</p>");          
      }
    }
  });
}
google.setOnLoadCallback(initialize);
 
</script> 
 
 
 
  <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script><script type="text/javascript">FB.init("516472064bfda173f5bce6e9f9dd8889");</script> 
  <script src="assets/javascripts/jquery.cycle.lite.min.js"></script> 
  
      <script type="text/javascript" src="_ee/editease.jquery.min.js"></script> 
    
  <script > 
  function thanksWindow(one, two){
    Shadowbox.open({
        content:    '<img src="assets/images/thanks.jpg">',
        title:      "Thanks for your message",
        player:     "html",
        height:     500,
        width:      500
    });    
  }
  
  function runFacebookViral( message_text ){
    var message = "posted “" + message_text + "“ on the Kieronononon website";
    var mp3s = [];
    mp3s[0] = {'type':   'mp3',
     'src':    'http://brutaltechnopunk.com/mp3s/marchofthebummers.mp3', 
     'title':  'March of the Buggers',
     'artist': 'Kieronononon',
     'album': "There's This Dragon"};
    
    mp3s[1] = {'type':   'mp3',
      'src':    'http://brutaltechnopunk.com/mp3s/08 Quest for Ultimate Power.mp3', 
      'title':  'Quest For Ultimate Power',
      'artist': 'Kieronononon',
      'album': "There's This Dragon"};
    
      mp3s[2] = {'type':   'mp3',
        'src':    'http://brutaltechnopunk.com/mp3s/06 Megaman 9.mp3', 
        'title':  'Quest For Ultimate Power',
        'artist': 'Kieronononon',
        'album': "There's This Dragon"};
 
      mp3s[3] = {'type':   'mp3',
            'src':    'http://brutaltechnopunk.com/mp3s/05 No Chicks, No Beer.mp3', 
            'title':  'No Chicks, No Beer',
            'artist': 'Kieronononon',
            'album': "There's This Dragon"};
        
    var obj = mp3s[Math.floor(Math.random()*4)];
    
    var attachment = {
    	'name': 'I <3 BTP',
    	'href': ' http://brutaltechnopunk.com',
    	'caption': '{*actor*} posted on the Kierononon site',
    	'description': '',
     'media': [obj]
      }
 
     var action_links = [{'text':'http://brutaltechnopunk.com', 'href':'http://brutaltechnopunk.com'}];  
 
     FB.Connect.streamPublish(message, attachment, action_links, null, "Show some BrutalTechnoLove by sharing on Facebook!", thanksWindow, false, null);     
  }  
  
  
  FB.ensureInit(function() {
    // to make sure this is called after facebook is loaded
    if(window.location.hash == "#thanksfacebook"){
      runFacebookViral();
    }
    });
  
  
  // http://plugins.jquery.com/files/jquery.cookie.js.txt
  jQuery.cookie = function(name, value, options) {
      if (typeof value != 'undefined') { // name and value given, set cookie
          options = options || {};
          if (value === null) {
              value = '';
              options.expires = -1;
          }
          var expires = '';
          if (options.expires && (typeof options.expires == 'number' || options.expires.toUTCString)) {
              var date;
              if (typeof options.expires == 'number') {
                  date = new Date();
                  date.setTime(date.getTime() + (options.expires * 24 * 60 * 60 * 1000));
              } else {
                  date = options.expires;
              }
              expires = '; expires=' + date.toUTCString(); // use expires attribute, max-age is not supported by IE
          }
          // CAUTION: Needed to parenthesize options.path and options.domain
          // in the following expressions, otherwise they evaluate to undefined
          // in the packed version for some reason...
          var path = options.path ? '; path=' + (options.path) : '';
          var domain = options.domain ? '; domain=' + (options.domain) : '';
          var secure = options.secure ? '; secure' : '';
          document.cookie = [name, '=', encodeURIComponent(value), expires, path, domain, secure].join('');
      } else { // only name given, get cookie
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
  };
  
  $(document).ready(function() {
          $("#adminlogin").editease('admin', "/_ee");
      	
    $(".logo").addClass("done");
    
    $("#social").click(function() {
      var social = $("#social");
      if( social.hasClass("active")){
        $("#social").removeClass("active");
      }else{
        $("#social").addClass("active");  
      }
    });
    if(location.hash == "#showkonnect"){
      $("#social").addClass("active");  
    }
    if( $.cookie("firsttime") != "nope"){
      $.cookie("firsttime", "nope");      
      $("#social").addClass("active");  
    }
    
          $("#logged_in_submit").click(function() {
         $.get("php/messages.php", { message: $("#message").val(), name: "", facebook_id: "283900865", email:"" }, function(data){
           runFacebookViral( $("#message").val() );
           $("header form").fadeOut();
           $("header #thanks").fadeIn();
         } );
         return false;
      });
      
        
    
  });
    
  
  
  </script> 
</body> 
</html>