<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd"> 
 
<!-- I &heart; HTML 5 --> 
<html lang="en"> 
<head> 
  <title>Kieronononon</title> 
  <meta charset="UTF-8" /> 
 
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" href="assets/stylesheets/ie7.css" type="text/css" media="screen" title="no title" > 
  
  <![endif]--> 
 
  <link rel="stylesheet" href="assets/stylesheets/reset.css" type="text/css" media="screen" title="no title" > 
  <link rel="stylesheet" href="assets/stylesheets/960.css" type="text/css" media="screen" title="no title" > 
    <link rel="stylesheet" href="assets/stylesheets/style.css" type="text/css" media="screen" title="no title" > 
  <link rel="stylesheet" href="assets/stylesheets/text.css" type="text/css" media="screen" title="no title"> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='assets/javascripts/jquery-1.5.1.js'>\x3C/script>")</script>
  
  <noscript> 
    <!-- See how caring we are? -->
    <style type="text/css" media="screen">
      header .logo {
        top: -40px;
        left: -30px;
        -webkit-transform: scale(0.7) rotate(340deg);
        -moz-transform: scale(0.7) rotate(340deg);
      }      
    </style>
    </noscript> 
<!--[if IE]>
  <style type="text/css" media="screen">
    #nav > ul > li a{
    font-size: 22px;
    }
  </style>
<![endif]--> 
  
</head> 
<body class= ""> 
  <div id="site-container"> 
    
    <div class="header" id="site-header"> 
      <div class="container_12"> 
        <div class="logo"> 
            <!--[if !IE]><!--><img src="https://btp4.s3.amazonaws.com/images/logo.png" width="223" height="247" alt="Kierononononon Logo"> 
            <!-- <![endif]--> 
            <!--[if IE]><a href="index"><img src="https://btp4.s3.amazonaws.com/images/logo-rotated.png" width="223" height="247" alt="Kierononononon Logo"></a>
              <![endif]--> 
        </div> 
        <ul class="nav main"> 
          <li id="home"><a href="/">HOME</a></li> 
          <li id="music"><a href="/music">MUSIC</a></li> 
          <li id="video"><a href="/video">VIDEO</a></li> 
          <li id="band"><a href="/band">BAND</a></li> 
          <li id="read"><a href="/kommunique">READ</a></li> 
          <li id="media"><a href="/media">MEDIA</a></li> 
          <li id="komplaints"><a href="/komplaint">KOMPLAIN</a></li> 
          
          <!-- id="" <li><a href="pics">PICS</a></li>  --> 
          <!-- <li id="kholed"><a href="/kholed">KHOLED</a></li>  -->
        </ul> 
        
        <ul class="nav sub"> 
          <li><a href="http://open.spotify.com/artist/41HLw5Fqni5ZiRy7Wx8Ume">Spotify</a></li> 
          <li><a href="http://kieronononon.bandcamp.com/">Bandcamp</a></li> 
            <li><a href="http://www.facebook.com/pages/Kieronononon/20529761624">Facebook</a></li> 
            <li><a href="http://www.myspace.com/kieronononon">Myspace</a></li> 
            <li><a href="http://www.youtube.com/results?search_query=kieronononon&search_type=&aq=f">Youtube</a></li> 
            <li><a href="http://www.last.fm/music/Kieronononon">Last.fm</a></li> 
           <li><a href="http://lyrics.wikia.com/Kieronononon">Lyrics</a></li> 
           <li><a href="http://twitter.com/kieronononon">Twitter</a></li>           
        </ul> 
      </div> 
    </div> 
    
    <%= yield %>
    
    <div class="container_12 footer"> 
    <hr/>
      <div class="section" style="color:white;">

      <div class=" article grid_4 info" id="gigs">
        <h2>Upcoming Gigs</h2>
        <div id="lastfm">
          &nbsp;
        </div>
      </div>
      <div class=" article grid_4 info" id="twitter">
        <h2><a href="http://twitter.com/Kieronononon">@Kieronononon</a></h2>
        <div id="tweets">

        </div>

      </div>
      <div class=" article grid_4 info">
        <h2>Contact</h2>
        <ul>
          <li>Enquiries - <a href="mailto:band@technopunk.me?subject=Query">band@technopunk.me</a></li>
          <li>Site / Design - <a href="mailto:orta@technopunk.me">orta@technopunk.me</a></li> 
          <li>Code (sinatra/s3/heroku) - <a href="https://github.com/orta/kieronononon">Github</a></li>
          <li><a href="http://roxxor2.co.uk"><img src="https://btp4.s3.amazonaws.com/images/luv_roxxor.png" alt="roxXOR2 logo" id="roxxor"/>
          </a></li>
        </ul>

      </div>
      <div class="clear"></div>
    </div>
    <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAfhcL9onk1IwFcC4_Gg8y8BShhZBixF0XVSHkifztW3HT4Lh_chTxSkyhhyLDbWZIKal8vo-EDqgudw" ></script>

    <script>
    google.load("feeds", "1");

    function initialize() {

      var feed = new google.feeds.Feed("http://ws.audioscrobbler.com/1.0/artist/Kieronononon/events.rss");
      feed.load(function(result) {
        if (!result.error) {
          if(result.feed.entries.length){
            var results = "<ul>";
            for (var i = 0; i < result.feed.entries.length; i++) {
              var entry = result.feed.entries[i];

              results += "<li><i>" + entry.content.split("\n")[0] + "</i><br/><a href='" + entry.link + "'>" + entry.title + "</a> </li>";
            } 
            $("#lastfm").html( results + "</ul>");
          }else{
            $("#lastfm").html("<p>No Gigs planned at the minute.</p>");          
          }
        }
      });

      var feed = new google.feeds.Feed("http://twitter.com/statuses/user_timeline/34881351.rss");

      feed.load(function(result) {
        if (!result.error) {
          if(result.feed.entries.length){
            var results = "<ul>";
            for (var i = 0; i < result.feed.entries.length; i++) {
              var entry = result.feed.entries[i];
              results += "<li>" + entry.title + "</li>";
            } 
            $("#tweets").html( results + "</ul>");
          }else{
            $("#tweets").html("<p>No Tweets</p>");          
          }
        }
      });
    }
    google.setOnLoadCallback(initialize);


      $(document).ready(function() {
        $(".logo").addClass("done");
      });
    </script>
    </div>
  <div/>
</body> 
</html>