<link rel="stylesheet" href="/assets/stylesheets/music.css">
<link rel="stylesheet" href="/assets/stylesheets/soundmanager.css">
<style type="text/css" media="screen">
  #music{
    -moz-box-shadow: inset 0 5px 1em #793F08;
    -webkit-box-shadow: inset 0 5px 1em #793F08;
  }
</style>
<div class="article">
  <div class="section container_12">
    <h1>Music of Kieronononon</h1>
    <div id="music_intro" ></div>
    
        <div class="grid_6">
          <a href="https://btp4.s3.amazonaws.com/mp3s/Kieronononon - Komplaints Department.zip">
          
          <img src = "https://btp4.s3.amazonaws.com/images/music/cover-kom.jpg"  alt = "Komplaints Dept" />
          <center>
            <img src = "https://btp4.s3.amazonaws.com/images/download_album.png"  alt = "download" />
          </center>
          </a>
        </div>
        <div class="section sidebar grid_3">
          <h3>&ldquo;Komplaints Dept&rdquo;</h3>
          <p>
            click to play \/
          </p>
          
          <ul class=" playlist">
            <li><a href= "https://btp4.s3.amazonaws.com/mp3s/komplaints/1_fox.mp3">Fox To The Hounds</a></li>
            <li><a href= "https://btp4.s3.amazonaws.com/mp3s/komplaints/2_krieger.mp3">Krieger</a></li>
            <li><a href= "https://btp4.s3.amazonaws.com/mp3s/komplaints/3_robot.mp3">Do the Robot</a></li>
            <li><a href= "https://btp4.s3.amazonaws.com/mp3s/komplaints/4_elphin.mp3">The Increasing Paranoia of <br/>Elfin Keys</a></li>
            <li><a href= "https://btp4.s3.amazonaws.com/mp3s/komplaints/5_hero.mp3">Letters To Celine</a></li>
            <li><a href= "https://btp4.s3.amazonaws.com/mp3s/komplaints/6_powercut.mp3">Powercut</a></li>
          </ol>
        </div>
        <div class="grid_3">
          <p>How do you compete agains the most brutal techno punk album you've ever made? Easy, you apply more brutal techno and punk - duh!</p>
        </div>
        <div class="clear"></div>

    <hr />
    <div class="grid_6">
      <a href="https://btp4.s3.amazonaws.com/mp3s/Kieronononon%20-%20There%2527s%20this%20Dragon.zip">
      <img src = "https://btp4.s3.amazonaws.com/images/theresthisdragon420.jpg"  alt = "There's this Dragon album art" />
      <center>
        <img src = "https://btp4.s3.amazonaws.com/images/download_album.png"  alt = "download" />
      </center>
      </a>
    </div>
    <div class="section sidebar grid_3">
      <h3> &ldquo;There's this Dragon&rdquo;</h3>
      <ul class="playlist">
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/01 Now You're Gone.mp3">Now You're Gone</a></li>
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/02 March Of The Bugs.mp3">March Of The Bugs</a></li>
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/03 Cookbook.mp3">Cookbook</a></li>
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/04 Foul Play at Sammy Steves.mp3">Foul Play at Sammy Steves</a></li>
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/05 No Chicks, No Beer.mp3">No Chicks, No Beer</a></li>
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/06 Megaman 9.mp3">Megaman 9</a></li>
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/07 Tome of Inadequacy.mp3">Tome of Inadequacy</a></li>
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/08 Quest for Ultimate Power.mp3">Quest for Ultimate Power</a></li>
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/09 Hooking Ducks.mp3">Hooking Ducks</a></li>
        <li><a href= "https://btp4.s3.amazonaws.com/mp3s/dragon/10 Intolerable Beast.mp3">Intolerable Beast</a></li>
      </ol>
    </div>
    <div class="grid_3">
      <p> 	30-something awesome minutes of brand new brutaltechnopunk. Your birthday has come early, and it&#39;s called &quot;There&#39;s this dragon...&quot;.</p> <p> 	This is our first full-length album, and it&#39;s awesome. Check it out on <a href="http://kieronononon.bandcamp.com/album/theres-this-dragon">our bandcamp site</a> also!</p> 
    </div>
    <div class="clear"></div>
    <hr />
    

    <div class="grid_4">
      <a href="https://btp4.s3.amazonaws.com/mp3s/__threemanparty.zip">
        <img src = "https://btp4.s3.amazonaws.com/images/cover-art-three-man.jpg"  alt = "Three Man Party" />
      </a>
    </div>
    <div class="section sidebar grid_4">
      <h3> &ldquo;three man party&rdquo;</h3>
      <ol class="track-list">
        <li>...and you're not James Bond either</li>
        <li>...vampire vodka party?</li>
        <li>...but I really shouldn't have</li>
        <li>...eventually he did</li>
        <li>...not a million miles away</li>
        <li>...and dinner was ruined</li>
      </ol>
    </div>
    <div class="grid_4">
      <p>'Three Man Party', Kieronononon's fourth EP in three years, adds even more styles to their brutaltechnopunk mix. Horrors-style garage psych, death metal and even more B-movie shtick are thrown together on the sludgy 'And You're Not James Bond Either', while 'Eventually He Did' turns out as a free-form, spoken word grindcore number. Grind pops up again on the Red Hot Chilli Peppers-meets-early Napalm Death (with Zig and Zag on vocals).</p>

      <p>Most noticeable is their use of fuzz and feedback, as noise duo Fuck Buttons do, on the burring electronic of 'Vampire Vodka Party?' and the (slightly) more conventional hardcore of 'But I Really Shouldn't Have', which is drenched in it. They manage to fit a Goldie Lookin' Chain style rap in there too. </p>   </div>
      <div class="clear"></div>
      <hr />
      <div class="grid_4">
        <a href="https://btp4.s3.amazonaws.com/mp3s/brutaltechnopunk.zip">
          <img src = "https://btp4.s3.amazonaws.com/images/btpcover.jpg"  alt = "brutaltechnopunk album cover"  id="pic-mitnn" />
        </a>
      </div>
      <div class="section sidebar grid_4">
        <h3> &ldquo;brutaltechnopunk&rdquo;</h3>
        <ol class="track-list">
          <li>No-One Laughed</li>
          <li>Fishes Lay</li>
          <li>Moral Decay</li>
          <li>Temporal Conflict</li>
          <li>Roulette in Paris</li>
        </ol>
      </div>
      <div class="grid_4">
        <p>Described as being “how you’d imagine the Mighty Boosh’s band to sound, except better and a lot less annoying than Noel Fielding”. The brutaltechnopunk EP was completed in 2007, and was the consolidation of the brutaltechnopunk sound - much thicker and louder than the previous two EPs. It's great.</p>

        <p>“Perhaps the heaviest and most listener friendly of their catalogue: brutaltechnopunk should please their modest (but dedicated) fan-base and (finally) gain them a following in broader circles.”</p>  
      </div>
      <div class="clear"></div>
      <hr />

      <div class="grid_4">
        <a href="https://btp4.s3.amazonaws.com/mp3s/More_Boring_Than_Poison.zip">
          <img src = "https://btp4.s3.amazonaws.com/images/poison300.jpg"  alt = "More Boring than Poison cover"  id="pic-mitnn" />
        </a>
      </div>
      <div class="section sidebar grid_4">
        <h3> &ldquo;More Boring Than Poison&rdquo;</h3>
        <ol class="track-list">
          <li>St Jerome's Retirement Home (for faded superheros)</li>
          <li>Lillies on Her Grave (some guy's dead wife)</li>
          <li>It's Not Rocket Science Mr Quinne (Now I've got Glass in My Arse)</li>
          <li>The Argument (Humans come from dust)</li>
          <li>Paraphilia (It terribly hurts)</li>
        </ol>
      </div>
      <div class="grid_4">
        <p>Named after a 'legendary' 80s music producer who gave a one word review of the band by e-mail. MBTP was released through multiple distribution methods such as <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?id=203188010&amp;s=143444">iTunes</a>, <a href="http://roxxor2.co.uk">roxXOR2</a> and a whole bucketload of online MP3 stores late 2006. </p>   </div>
        <div class="clear"></div>
        <hr />
        <div class="grid_4">
          <a href="https://btp4.s3.amazonaws.com/mp3s/More_Interesting_Than_Nik-Naks.zip">
            <img src = "https://btp4.s3.amazonaws.com/images/niknaks300.jpg"  alt = "Three Man Party"  id="pic-mitnn" />
          </a>
        </div>
        <div class="section sidebar grid_4">
          <h3> &ldquo;More Interesting than Nik-naks&rdquo;</h3>
          <ol class="track-list">
            <li>352</li>
            <li>Coma</li>
            <li>breadsect0r</li>
            <li>Puke</li>
            <li>Asphyxia</li>
            <li>ouendan!</li>
            <li>Squirting101</li>
          </ol>
        </div>
        <div class="grid_4">
          <p>Kierononon's first EP made of pure rock and roll. Put together in 2006 while the band were still finding their feet. We re-recored Coma from this EP <a href="mp3s/Cozoomba.mp3">recently</a> with a unique twist.</p>   </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="control-template">
   <!-- control markup inserted dynamically after each link -->
   <div class="controls">
    <div class="statusbar">
     <div class="loading"></div>
      <div class="position"></div>
    </div>
   </div>
   <div class="timing">
    <div id="sm2_timing" class="timing-data">
     <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
   </div>
   <div class="peak">
    <div class="peak-box"><span class="l"></span><span class="r"></span>
    </div>
   </div>
  </div>
  <div id="spectrum-container" class="spectrum-container">
   <div class="spectrum-box">
    <div class="spectrum"></div>
   </div>
  </div> 
  
<script src="/assets/javascripts/soundmanager2.js"></script>
<script src="/assets/javascripts/page-player.js"></script>

      <script type="text/javascript" charset="utf-8">
      soundManager.url = 'assets/javascripts/';
      </script>
