<style type="text/css" media="screen">
h1{
  font-size: 4em;
  color:white;
}
</style>

<center>
  <p>  </p>
  <h1 >Thanks</h1> 
  <h1 >here's some gold</h1>
  <iframe width="1024" height="640" src="http://www.youtube.com/embed/Lwsb_Ed7ffE" frameborder="0" allowfullscreen></iframe>
  <h1 >.. kinda</h1>
  <h1 ><a href="/music">WE LUV YOU!</a></h1>
</center>