<!-- http://www.youtube.com/watch?v=ZiBqaZb09to - bugs
http://www.youtube.com/watch?v=M4CsQZMooIc - megaman 9
http://www.youtube.com/watch?v=Xv8nON4DBmY - st jeromes
http://www.youtube.com/watch?v=dUxNTh_5epY - Roullette in Paris
http://www.youtube.com/watch?v=64tePVem9ms - Holding Out for a Hero -->

<!--  960 / 5 = 192 -->
<!-- images 180 with 6 margin -->

<style type="text/css" media="screen">
#video{
  -moz-box-shadow: inset 0 5px 1em #793F08;
  -webkit-box-shadow: inset 0 5px 1em #793F08;
}
.video {
  width: 180px;
  padding:6px;
  float: left;
}
p{
  color:white;
}
</style>

<div class="article">
  <div class="section container_12">

    <center>
      <div id ="headline">
        <img src="/assets/images/video/headline.jpg" alt="Headline">
      </div>

      <hr/>

      <div class="video">
        <img src="/assets/images/video/headline.jpg" alt="" width=180>
        <p>
          Here's some text about the phat ass video yo
        </p>
      </div>

      <div class="video">
        <img src="/assets/images/video/headline.jpg" alt="" width=180>
        <p>
          Here's some text about the phat ass video yo
        </p>
      </div>

      <div class="video">
        <img src="/assets/images/video/headline.jpg" alt="" width=180>
        <p>
          Here's some text about the phat ass video yo
        </p>
      </div>
      <div class="video">
        <img src="/assets/images/video/headline.jpg" alt="" width=180>
        <p>
          Here's some text about the phat ass video yo
        </p>
      </div>
      <div class="video">
        <img src="/assets/images/video/headline.jpg" alt="" width=180>
        <p>
          Here's some text about the phat ass video yo
        </p>
      </div>

    </center>
  </div>
</div>