<style type="text/css" media="screen">
.section{
  color:white;
}

#video{
  -moz-box-shadow: inset 0 5px 1em #793F08;
  -webkit-box-shadow: inset 0 5px 1em #793F08;
}

.video {
  width: 180px;
  padding:6px;
  float: left;
  cursor: pointer;
  position: relative;
}

h3 {
  position: absolute;
  top: 90px;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
  color:white;
  display: block;
  padding-bottom: 0;
}

.video:hover {
  background-color: #454545;
}

p{
  color:white;
}

.video a{
  text-decoration: none;
}
</style>

<div class="article">
  <div class="section container_12 ">
    <h1>Kieronononononon have awesome videos!!</h1>
    <hr/>
    <h2 id="song_title">Kierononon - Holding Out for a Hero</h2>
    <center>

      <iframe id="youtube" title="YouTube video player" width="853" height="503" src="http://www.youtube.com/embed/64tePVem9ms" frameborder="0" allowfullscreen></iframe>

      <hr/>

      <div class="video">
        <a href="http://www.youtube.com/watch?v=64tePVem9ms" data-embed="http://www.youtube.com/embed/64tePVem9ms">
          <img src="https://btp4.s3.amazonaws.com/images/video/hero_thumb.jpg" alt="" width=180 height=120>
          <h3>Holding Out For a Hero</h3>
          <p>
            Kierononon cover Celine Dion's world famous song Holding Out for A Hero and we also remix her cheesey-ass video!
          </p>
        </a>
      </div>

      <div class="video">
        <a href = "http://www.youtube.com/watch?v=M4CsQZMooIc" data-embed="http://www.youtube.com/embed/M4CsQZMooIc">
          <img src="https://btp4.s3.amazonaws.com/images/video/megaman_thumb.jpg" alt="" width=180 height=120>
          <h3>Megaman 9</h3>
          <p>
            No one likes a hard game, but it turns out everyone likes songs about them.
          </p>
        </a>
      </div>
      
      <div class="video">
        <a href="http://www.youtube.com/watch?v=ZiBqaZb09to" data-embed="http://www.youtube.com/embed/ZiBqaZb09to">
          <img src="https://btp4.s3.amazonaws.com/images/video/bugs_thumb.jpg" alt="" width=180 height=120>
          <h3>March of The Bugs</h3>
          <p>
            Kierononon take on the armies of bugs backed by an army of legomen!
          </p>
        </a>
      </div>

      <div class="video">
        <a href="http://www.youtube.com/watch?v=Xv8nON4DBmY" data-embed="http://www.youtube.com/embed/Xv8nON4DBmY">
          <img src="https://btp4.s3.amazonaws.com/images/video/jeromes_thumb.jpg" alt="" width=180 height=120>
          <h3>St Jeromes</h3>
          <p>
            What happens when good superheros get old?
          </p>
        </a>
      </div>
      
      <div class="video">
        <a href = "http://www.youtube.com/watch?v=dUxNTh_5epY" data-embed="http://www.youtube.com/embed/dUxNTh_5epY">
        <img src="https://btp4.s3.amazonaws.com/images/video/roulette_thumb.jpg" alt="" width=180 height=120>
          <h3>Roulette in Paris</h3>
          <p>
            Ever Wondered what would happen is Paris Hilton got done by the police for drink driving? Also, nipple slip.
          </p>
        </a>
      </div>
    </center>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("div.video a").click( function(){
      $("#youtube").attr("src", $(this).data("embed") )
      $("#song_title").text( "Kierononon - " +  $("h3", this).text() )
      return false
    })
  });
</script>