<style type="text/css" media="screen">
.section{
  color:white;
}
#video{
  -moz-box-shadow: inset 0 5px 1em #793F08;
  -webkit-box-shadow: inset 0 5px 1em #793F08;
}

.video {
  width: 180px;
  padding:6px;
  float: left;
  cursor: pointer;
  position: relative;
  
}

h3 {
  position: absolute;
  top: 90px;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
  color:white;
  display: block;
  padding-bottom: 0;
}

.video:hover {
  background-color: #454545;
}

p{
  color:white;
}

.video a{
  text-decoration: none;
}
</style>

<div class="article">
  <div class="section container_12 ">
    <h1>Kieronononononon have awesome videos!!</h1>
    <hr/>

    <center>
      <div id ="headline">
        <img src="/assets/images/video/headline.jpg" width=853 height=503 alt="Headline">
      </div>

      <hr/>

      <div class="video">
        <a href="http://www.youtube.com/watch?v=64tePVem9ms">
          <img src="/assets/images/video/headline.jpg" alt="" width=180>
          <h3>Holding Out For A Hero</h3>
          <p>
            Holding Out For A Hero
          </p>
        </a>
      </div>

      <div class="video">
        <a href = "http://www.youtube.com/watch?v=dUxNTh_5epY">
        <img src="/assets/images/video/headline.jpg" alt="" width=180>
          <h3>Roulette in Paris</h3>
          <p>
            Here's some text about the phat ass video yo
          </p>
        </a>
      </div>

      <div class="video">
        <a href="http://www.youtube.com/watch?v=Xv8nON4DBmY">
          <img src="/assets/images/video/headline.jpg" alt="" width=180>
          <h3>St Jeromes</h3>
          <p>
            Here's some text about the phat ass video yo
          </p>
        </a>
      </div>
      <div class="video">
        <a href = "http://www.youtube.com/watch?v=M4CsQZMooIc">
          <img src="/assets/images/video/headline.jpg" alt="" width=180>
          <h3>Megaman 9</h3>
          <p>
            Here's some text about the phat ass video yo
          </p>
        </a>
      </div>
      <div class="video">
        <a href="http://www.youtube.com/watch?v=ZiBqaZb09to">
          <img src="/assets/images/video/headline.jpg" alt="" width=180>
          <h3>March of The Bugs</h3>
          <p>
            Here's some text about the phat ass video yo
          </p>
        </a>
      </div>
    </center>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("div.video a").click( function(){
      
      return false
    })
  });
</script>